body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Exo-Bold';
  src: local('Exo-Bold'), url('./fonts/Exo-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Rubik';
  src: local('Rubik'), url('./fonts/Rubik-VariableFont_wght.ttf') format('truetype');
}