pandas~=1.5.2
numpy~=1.24.4
numba~=0.57.1
scanpy==1.9.3
sqlalchemy~=1.4.46
psycopg2-binary~=2.9.6
muon~=0.1.5
leidenalg~=0.9.1
boto3~=1.26.155
smart-open~=6.3.0
universal-pathlib~=0.0.24
owlready2~=0.43